<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchBackground</string>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.132372584072-sgnacnumg2h1abe0959i4arb3rmstspm</string>
			</array>
		</dict>
	</array>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Saves your letter cards to your photo library.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Fredoka-Variable.ttf</string>
		<string>Nunito-Variable.ttf</string>
	</array>
</dict>
</plist>
